.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.List {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
input {
  width: 200px;
  height: 34px;
  font-size: 1rem;
}
button {
  height: 40px;
  width: 40px;
}
ul {
  list-style: none;
}
li {
  font-size: 1.8rem;
}
i {
  margin-top: 7px;
  margin-right: 7px;
}
.fa-times:hover {
  background-color: tomato;
  border-radius: 15px;
}
